:root {
	--color-background: hsl(46, 24%, 83%);
	--shadow-background:
		10px 10px 21px hsl(43, 12%, 71%),
		-10px -10px 21px hsl(47, 100%, 95%);
	--shadow-background-small:
		5px 5px 5px hsl(43, 12%, 71%),
		-5px -5px 5px hsl(47, 100%, 95%);

	--color-primary: hsl(82, 28%, 62%);
	--shadow-primary:
		5px 5px 10px hsl(82, 19%, 53%),
        -5px -5px 10px hsl(82, 42%, 71%);

	--color-button: #a1af8e;
	--color-button-hover: linear-gradient(145deg, #929e80, #adbb98);
	--shadow-button:
		5px 5px 5px #8a9579,
		-5px -5px 5px #bac9a3;
	--shadow-button-pressed:
		inset 5px 5px 5px #8a9579,
		inset -5px -5px 5px #bac9a3;

	--color-input: var(--color-background);
	--shadow-input:
		inset 3px 3px 7px hsl(43, 12%, 71%),
		inset -3px -3px 7px hsl(47, 100%, 95%);

    --color-text: #2e5240;

	--olivine: #a5b983;
    --sea-green: #4f884e;
    --hunter-green: #34603c;
}

.setup-panel-wrapper {
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
}

.setup-panel {
	max-width: 600px;
	padding: 2rem;
	background: var(--color-background);
	box-shadow: var(--shadow-background);
	border-radius: 20px;
}

.location-group {
	display: flex;
	gap: 1rem;
	margin-top: .25rem;
}

.map-view {
	display: flex;
	height: 100vh;
	transition: opacity 1s ease-in-out;
	opacity: 1;
	pointer-events: auto;
	transition: opacity 0.3s ease-in-out;
	background: var(--color-background);
	border-radius: 20px;
	box-shadow: var(--clay-shadow);
}

#map {
	width: 100%;
}

.sidebar {
	width: 300px;
	padding: 2rem;
	border-radius: 20px;
}

.splash-screen {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: var(--color-background);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	animation: fadeOut 1s ease-in-out forwards;
	border-radius: 20px;
	box-shadow: var(--clay-shadow);
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	90% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		visibility: hidden;
	}
}

.setup-panel-wrapper.hidden,
.map-view.hidden {
	opacity: 0;
	pointer-events: none;
}

button {
    background: var(--color-button);
    box-shadow: var(--shadow-background-small);
    border-radius: 12px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    color: var(--bone);
}

button:hover {
    background: var(--color-button-hover);
}

button:active {
    box-shadow: var(--shadow-button-pressed);
}

.input-group input,
.input-group select {
	background: var(--color-input);
	box-shadow: var(--shadow-input);

	border: none;
	border-radius: 12px;
	font-size: 1rem;
	padding: 0.5rem;
}

button:focus,
input:focus,
select:focus {
	outline: none;
}


h1, h2 {
	font-family: 'Arial, sans-serif';
	font-size: 2rem;
	font-weight: bold;
	color: var(--color-text);
}

body {
	font-family: 'Arial, sans-serif';
	background-color: var(--color-background);
	margin: 0;
	padding: 0;
}

label {
	font-size: 1rem;
	font-weight: bold;
	color: var(--color-text);
}